<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card">
      <div class="card-body">
        <form action="/">
          <div class="input-group">
            <select class="form-select form-select-sm" id="inputGroupSelect04" name="category_bar" >
              {{#if category}}
              <option>{{category}}</option>
              {{/if}}
              
              {{#each categories}}
              <option value="{{this}}">{{ this }}</option>
              {{/each}}
              
              <option disable selected>全部類別</option>
            </select>
            <button class="btn btn-outline-secondary ml-4" type="submit">搜尋</button>
          </div>
        </form>

        <div class="d-flex justify-content-center m-3 align-items-center">
            <div>總金額：</div>
            <h1>{{ totalAmount }}</h1>
        </div>

        {{#each records}}
        <ul class="list-group w-100">
            {{!-- <li class="list-group-item" style="background-color:#F0F0F0;"> --}}
            <li class="list-group-item">
                <div class="row align-items-center h-100">
                    <div class="col-md-1">
                        <i class="{{ this.icon }} fa-2x"></i>
                    </div>
                    <div class="col-md-6">
                        <div class="category">{{ this.name }}</div>
                        <p class="fs-6">{{ this.date }}</p>
                    </div>
                    <div class="col-md-2 text-right">
                        {{ this.amount }}
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <a href="/records/{{ this.id }}/edit" class="btn btn-outline-success btn-sm m-1">修改</a>
                        <form action="/records/{{ this.id }}?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-outline-danger btn-sm m-1" onclick="return confirm('確定要刪除嗎{{ this.name }}嗎？')">刪除</button>
                        </form>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>

        <div class="d-flex justify-content-center mt-3">
            <a href="/records/new" class="btn btn-warning btn-sm m-1">新增支出</a>
        </div>
      </div>
    </div>
  </div>
</div>
